{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">ユーザ登録</h4>
      </div>

      <div class="card-body">
        <form method="post">
        {% csrf_token%}
        <input type="hidden" name="next" value="{{ next }}"/>
        {% bootstrap_form form %}
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-lg">登録</button>
        </div>
        </form>
      </div>

    </div>
  </div>
</div>

{% endblock %}
